<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout-default.html}">

<body>

	<!--Thêm dòng này vào-->
	<div layout:fragment="content" class="checkout">
		<section class="container mt-5 checkout__question">
			<p class="mb-1">
				<span class="text-black-50">Bạn có mã ưu đãi? </span> <a
					class="checkout__couppon-btn" data-bs-toggle="collapse"
					href="#collapseExample" role="button" aria-expanded="false"
					aria-controls="collapseExample"> Ấn vào đây để nhập mã </a>
			</p>
			<div class="collapse mb-2" id="collapseExample">
				<div class="card card-body checkout__couppon-card">
					<p class="text-black-50">Nếu bạn có mã giảm giá, vui lòng điền
						vào phía bên dưới.</p>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Mã ưu đãi" />
						<span class="input-group-text btn-pink">Áp dụng</span>
					</div>
				</div>
			</div>
			<p>
				<span class="text-black-50">Sử dụng địa chỉ khác? </span> <a
					class="checkout__couppon-btn" onclick="updateUser()">
					Thay đổi địa chỉ </a>
			</p>
			<button class="btn btn-primary btn-update" style="display: none;" onclick="updateAddress()">Thay đổi thông tin</button>
			<p id="thong-bao" class="text-danger"></p>
		</section>

		<section class="container mb-5">
			<div class="row">
				<div class="col-md-7">
					<form method="post" class="colorlib-form" target="pay/cod">
						<h3>
							<strong>Thông tin thanh toán</strong>
						</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="fullName">Họ và tên</label> <input type="text"
										id="fullName" class="form-control"
										placeholder="Họ và tên của bạn" th:value="${user.fullName}"
										th:name="fullName" disabled>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="fname">Số điện thoại</label> <input type="text"
										id="phone" th:name="phone" class="form-control"
										th:value="${user.phone}" placeholder="Số điện thoại của bạn"
										disabled>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="lname">Địa chỉ email</label> <input type="text"
										id="email" th:name="email" class="form-control"
										th:value="${user.email}" placeholder="Email của bạn" disabled>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="city">Tỉnh/Thành phố</label> <input type="text"
										id="city" name="city" class="form-control"
										th:value="${addressParts[3].trim()}" disabled>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="district">Quận/Huyện</label> <input type="text"
										id="district" name="district" class="form-control"
										th:value="${addressParts[2].trim()}" disabled>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="town">Xã/Phường</label> <input type="text"
										id="town" name="town" class="form-control"
										th:value="${addressParts[1].trim()}" disabled>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label for="fname">Địa chỉ</label> <input type="text"
										id="address" name="address" class="form-control"
										th:value="${addressParts[0].trim()}" disabled>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-5">
					<div class="row">
						<div class="col-md-12">
							<form action="/CheckOut/Payment" method="post">
								<div class="cart-detail">
									<h3>
										<strong>Đơn hàng của bạn</strong>
									</h3>
									<ul>
										<li>
											<ul>
												<li><span>1 x Product Name</span> <span>$99.00</span></li>
												<li><span>1 x Product Name</span> <span>$78.00</span></li>
											</ul>
										</li>
										<li id="codOption" style="display: none;"><span>Shipping</span>
											<span id="codValue">30.000 VND</span></li>
										<li><span>Subtotal</span> <span>180.000 VND</span></li>
										<li id="total"><span>Order Total</span> <span
											id="totalValue">180.000 VND</span></li>
									</ul>

									<h3>
										<strong>Phương thức thanh toán</strong>
									</h3>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
												<label><input type="radio" name="paymentMethod"
													id="cod" class="optradio" value="COD"> Thanh toán
													khi nhận hàng</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
												<label><input type="radio" name="paymentMethod"
													id="paypal" class="optradio" value="PayPal"> PAYPAL</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
												<label><input type="radio" name="paymentMethod"
													id="vnpay" class="optradio" value="VNPAY"> VNPAY</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p>
												<button type="submit" class="btn btn-primary">ĐẶT
													HÀNG</button>
											</p>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>

</html>