<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Ori Cosmestic</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<!--Google Fonts Roboto -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
	<!--Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<!--Font-awesome-icon-->
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}" />
	<!-- MDB -->
	<!--<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css}" rel="stylesheet" />-->
	<!--    Custom css-->
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	<!--<link rel="stylesheet" th:href="@{/css/jumbotron-narrow.css}" />-->
	<!--SlickJS-->
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css}" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css}" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	
</head>
<head th:fragment="head">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

 		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" th:href="@{/detailProduct/css/bootstrap.min.css}"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" th:href="@{/detailProduct/css/slick.css}"/>
 		<link type="text/css" rel="stylesheet" th:href="@{/detailProduct/css/slick-theme.css}"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" th:href="@{/detailProduct/css/nouislider.min.css}"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" th:href="@{/detailProduct/css/font-awesome.min.css}">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" th:href="@{/detailProduct/css/style.css}"/>

    </head>
<body>
	<header class="row header">
		<div class="col">
			<div th:replace="web/fragments/header :: header"></div>
		</div>
	</header>

	<main>
		<div layout:fragment="content"></div>
	</main>

	<footer class="row text-center text-lg-start text-muted mt-3" style="background-color: #f5f5f5;">
		<div class="col">
			<div th:replace="web/fragments/footer :: footer"></div>
		</div>
	</footer>

	

	<script th:src="@{/js/index.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<!-- MDB -->
	<!--<script type="text/javascript"
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js}"></script>-->
	
	<!--SlickJS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js}" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!--SlickJS-->
	
	<script>
		$(document).ready(function(){
		  $('.brand-carousel').slick({
		    infinite: true,
		    slidesToShow: 4,
  			slidesToScroll: 2,
  			autoplay: true,
		  	autoplaySpeed: 2000,
		  });
		});
		
		$(document).ready(function(){
		  $('.category-carousel').slick({
		    infinite: true,
		    slidesToShow: 7,
  			slidesToScroll: 3,
  			autoplay: true,
		  	autoplaySpeed: 2000,
		  });
		});
		
		$(document).ready(function(){
		  $('.hero-carousel').slick({
		    dots: true,
		    infinite: true,
		    speed: 500,
		    fade: true,
		    cssEase: 'linear'
		  });
		});
		
		$(document).ready(function(){
		  $('.rating-carousel').slick({
		    infinite: true,
		    dots: true,
	  		speed: 500,
		  });
		});
		
		jQuery(document).ready(function($) {
			var sitePlusMinus = function() {
				$('.js-btn-minus').on('click', function(e) {
					e.preventDefault();
					if ($(this).closest('.input-group').find('.form-control').val() != 0) {
						$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) - 1);
					} else {
						$(this).closest('.input-group').find('.form-control').val(parseInt(0));
					}
				});
				$('.js-btn-plus').on('click', function(e) {
					e.preventDefault();
					$(this).closest('.input-group').find('.form-control').val(parseInt($(this).closest('.input-group').find('.form-control').val()) + 1);
				});
			};
		sitePlusMinus();
		});
		
	</script>
			<script src="@{/detaiProduct/js/jquery.min.js}"></script>
		<script th:src="@{/detaiProduct/js/bootstrap.min.js}"></script>
		<script th:src="@{/detaiProduct/js/slick.min.js}"></script>
		<script th:src="@{/detaiProduct/js/nouislider.min.js}"></script>
		<script th:src="@{/detaiProduct/js/jquery.zoom.min.js}"></script>
		<script th:src="@{/detaiProduct/js/main.js}">
		</script>
</body>
</html>