<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout-default.html}">

<body>

	<!--Thêm dòng này vào-->
	<div layout:fragment="content">
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img th:src="${detailPro.image_link}" alt="">
							</div>

						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">

					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name" th:text=${detailPro.name}></h2>
							<div>
								<h3 class="product-price" th:text="${#strings.concat(detailPro.price, ' VND')}"></h3>
								<span class="product-available">In Stock</span>
							</div>
							<!-- Display the initial content with a limited length -->
							<p id="description"
								th:text="${#strings.length(detailPro.description) > 200 ? #strings.substring(detailPro.description, 0, 200) + '...' : detailPro.description}">
							</p>

							<!-- Show more/hide button with styling -->
							<button id="showMoreButton" onclick="toggleDescription()">Show more</button>

							<!-- CSS for button styling (you can customize this based on your preferences) -->
							<style>
								#showMoreButton {
									background-color: #D10024e6;
									color: #fff;
									padding: 2px 3px;
									border: none;
									border-radius: 4px;
									/* Rounded corners */
									cursor: pointer;
								}
							</style>

							<!-- JavaScript function to toggle between show/hide -->
							<script th:inline="javascript">
								var fullDescription = "[(${detailPro.description})]";
								var hideDicription = "[(${#strings.substring(detailPro.description, 0, 200) + '...'})]";
								var isExpanded = false;

								function toggleDescription() {
									var descriptionElement = document.getElementById('description');
									var buttonElement = document.getElementById('showMoreButton');

									if (isExpanded) {
										// If currently expanded, show limited content and change button text to "Show more"
										descriptionElement.innerText = hideDicription;
										buttonElement.innerText = 'Show more';
									} else {
										// If currently collapsed, show full content and change button text to "Hide"
										descriptionElement.innerText = fullDescription;
										buttonElement.innerText = 'Hide';
									}

									// Toggle the state
									isExpanded = !isExpanded;
								}
							</script>




							<div class="product-options">

							</div>

							<div class="add-to-cart">
								<div class="qty-label">
									Qty
									<div class="input-number">
										<input type="number" th:value="1" th:name="qty">
									</div>
								</div>
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>


							<ul class="product-links">
								<li>Category:</li>
								<li><a href="#" th:text=${cateName}></a></li>
							</ul>

							<ul class="product-links">
								<li>Brand:</li>
								<li><a href="#" th:text=${brandName}></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->


					<!-- Section -->
					<div class="section">
						<!-- container -->
						<div class="container">
							<!-- row -->
							<div class="row">

								<div class="col-md-12">
									<div class="section-title text-center">
										<h3 class="title">Products Viewed</h3>
									</div>
								</div>
								<ul>
									<li th:each="i : ${listProSeen}">
										<!-- product -->
										<div class="col-md-3 col-xs-6">
											<div class="product">
												<div class="product-img">
													<img th:src="${i.image_link}" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a
															th:href="@{'/web/product/detail/' + ${i.proId}}"
															th:text="${i.name}"></a></h3>
													<h4 class="product-price"
														th:text="${#strings.concat(i.price, ' VND')}"></h4>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- /product -->



							<!-- Section -->
							<div class="section">
								<!-- container -->
								<div class="container">
									<!-- row -->
									<div class="row">

										<div class="col-md-12">
											<div class="section-title text-center">
												<h3 class="title">Same Category</h3>
											</div>
										</div>

										<ul>
											<li th:each="i : ${listCate}">
												<!-- product -->
												<div class="col-md-3 col-xs-6">
													<div class="product">
														<div class="product-img">
															<img th:src="${i.image_link}" alt="">
														</div>
														<div class="product-body">
															<h3 class="product-name"><a
																	th:href="@{'/web/product/detail/' + ${i.proId}}"
																	th:text="${i.name}"></a></h3>
															<h4 class="product-price"
																th:text="${#strings.concat(i.price, ' VND')}"></h4>
														</div>
													</div>
												</div>
									</div>
									<!-- /product -->
									</li>
									</ul>
								</div>
								<!-- /product -->
								<!-- Section -->
								<div class="section">
									<!-- container -->
									<div class="container">
										<!-- row -->
										<div class="row">

											<div class="col-md-12">
												<div class="section-title text-center">
													<h3 class="title">Same Brand</h3>
												</div>
											</div>
											<ul>
												<li th:each="i : ${listBrand}">
													<!-- product -->
													<div class="col-md-3 col-xs-6">
														<div class="product">
															<div class="product-img">
																<img th:src="${i.image_link}" alt="">
															</div>
															<div class="product-body">
																<h3 class="product-name"><a
																		th:href="@{'/web/product/detail/' + ${i.proId}}"
																		th:text="${i.name}"></a></h3>
																<h4 class="product-price"
																	th:text="${#strings.concat(i.price, ' VND')}"></h4>
															</div>
														</div>
													</div>
										</div>
										<!-- /product -->
										</li>
										</ul>

									</div>
									<!-- /container -->
								</div>
								<!-- /Section -->
							</div>
</body>

</html>