<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout-default.html}">

<body>

	<!--Thêm dòng này vào-->
	<div layout:fragment="content" class="product-detail">
		<!-- SECTION -->
		<div class="section mt-5">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-6 col-md-push-2 product-preview">
						<div class="product-main-img">
							<img th:src="${detailPro.image_link}" alt="">
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product details -->
					<div class="col-md-6">
						<div class="product-details">
							<h2 class="product-name" th:text=${detailPro.name}></h2>
							<div>
								<h3 class="product-price-old">
									[[${#numbers.formatDecimal(detailPro.oldPrice, 0, 'POINT', 0, 'POINT')}]].000 đ
								</h3>
								<h3 class="product-price" th:if="${detailPro.sale > 0}">
									[[${#numbers.formatDecimal(detailPro.price, 0, 'POINT', 0, 'POINT')}]].000 đ
								</h3>
							</div>
							<div>
								<span class="product-available">còn [[${detailPro.stock}]] hàng</span>								
							</div>
							<!-- Display the initial content with a limited length -->
							<p id="description"
								th:text="${#strings.length(detailPro.description) > 200 ? #strings.substring(detailPro.description, 0, 200) + '...' : detailPro.description}">
							</p>

							<!-- Show more/hide button with styling -->
							<button id="showMoreButton" onclick="toggleDescription()">Show more</button>

							<!-- JavaScript function to toggle between show/hide -->
							<script th:inline="javascript">
								var fullDescription = "[(${detailPro.description})]";
								var hideDicription = "[(${#strings.substring(detailPro.description, 0, 200) + '...'})]";
								var isExpanded = false;

								function toggleDescription() {
									var descriptionElement = document.getElementById('description');
									var buttonElement = document.getElementById('showMoreButton');

									if (isExpanded) {
										// If currently expanded, show limited content and change button text to "Show more"
										descriptionElement.innerText = hideDicription;
										buttonElement.innerText = 'Show more';
									} else {
										// If currently collapsed, show full content and change button text to "Hide"
										descriptionElement.innerText = fullDescription;
										buttonElement.innerText = 'Hide';
									}

									// Toggle the state
									isExpanded = !isExpanded;
								}
							</script>

							<div class="d-flex mb-3 mt-3">
								<div class="input-group" style="max-width: 120px;">
			                        <div class="input-group-prepend">
			                          <button class="btn btn-outline-primary js-btn-minus-cart btn-quantity-cart" style="border-top-right-radius: 0;border-bottom-right-radius: 0;" type="button">&minus;</button>
			                        </div>
			                        <input type="texts" class="cart-input form-control text-center" th:value="1" th:attr="data-proid-cart=${detailPro.proId}"  placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
			                        <div class="input-group-append">
			                          <button class="btn btn-outline-primary js-btn-plus-cart btn-quantity-cart" style="border-top-left-radius: 0;border-bottom-left-radius: 0;" type="button">&plus;</button>
			                        </div>
			                	</div>
			                	<div class="add-to-cart">
									<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
								</div>
							</div>


							<ul class="product-links">
								<li>Category:</li>
								<li><a href="#" th:text=${cateName}></a></li>
							</ul>

							<ul class="product-links">
								<li>Brand:</li>
								<li><a href="#" th:text=${brandName}></a></li>
							</ul>

						</div>
					</div>
					<!-- /Product details -->


					<!-- Section -->
					<div class="section">
						<!-- container -->
						<div class="container">
							<!-- row -->
							<div class="row">

								<div class="col-md-12">
									<div class="section-title text-center">
										<h3 class="title">Products Viewed</h3>
									</div>
								</div>
								<ul>
									<li th:each="i : ${listProSeen}">
										<!-- product -->
										<div class="col-md-3 col-xs-6">
											<div class="product">
												<div class="product-img">
													<img th:src="${i.image_link}" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a
															th:href="@{'/web/product/detail/' + ${i.proId}}"
															th:text="${i.name}"></a></h3>
													<h4 class="product-price"
														th:text="${#strings.concat(i.price, ' VND')}"></h4>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- /product -->



							<!-- Section -->
							<div class="section">
								<!-- container -->
								<div class="container">
									<!-- row -->
									<div class="row">

										<div class="col-md-12">
											<div class="section-title text-center">
												<h3 class="title">Same Category</h3>
											</div>
										</div>

										<ul>
											<li th:each="i : ${listCate}">
												<!-- product -->
												<div class="col-md-3 col-xs-6">
													<div class="product">
														<div class="product-img">
															<img th:src="${i.image_link}" alt="">
														</div>
														<div class="product-body">
															<h3 class="product-name"><a
																	th:href="@{'/web/product/detail/' + ${i.proId}}"
																	th:text="${i.name}"></a></h3>
															<h4 class="product-price"
																th:text="${#strings.concat(i.price, ' VND')}"></h4>
														</div>
													</div>
												</div>
									</div>
									<!-- /product -->
									</li>
									</ul>
								</div>
								<!-- /product -->
								<!-- Section -->
								<div class="section">
									<!-- container -->
									<div class="container">
										<!-- row -->
										<div class="row">

											<div class="col-md-12">
												<div class="section-title text-center">
													<h3 class="title">Same Brand</h3>
												</div>
											</div>
											<ul>
												<li th:each="i : ${listBrand}">
													<!-- product -->
													<div class="col-md-3 col-xs-6">
														<div class="product">
															<div class="product-img">
																<img th:src="${i.image_link}" alt="">
															</div>
															<div class="product-body">
																<h3 class="product-name"><a
																		th:href="@{'/web/product/detail/' + ${i.proId}}"
																		th:text="${i.name}"></a></h3>
																<h4 class="product-price"
																	th:text="${#strings.concat(i.price, ' VND')}"></h4>
															</div>
														</div>
													</div>
										</div>
										<!-- /product -->
										</li>
										</ul>

									</div>
									<!-- /container -->
								</div>
								<!-- /Section -->
							</div>
</body>

</html>