<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form method="post" role="form" th:action="@{/auth/sign-up/save}" th:object="${user}">-->

<!--    <div class="form-group mb-3">-->
<!--        <label class="form-label">First Name</label>-->
<!--        <input class="form-control"-->
<!--               id="firstName"-->
<!--               name="firstName"-->
<!--               placeholder="Enter full name"-->
<!--               th:field="*{fullName}"-->
<!--               type="text"-->
<!--        />-->

<!--    </div>-->


<!--    <div class="form-group mb-3">-->
<!--        <label class="form-label">Email</label>-->
<!--        <input class="form-control"-->
<!--               id="email"-->
<!--               name="email"-->
<!--               placeholder="Enter email"-->
<!--               th:field="*{email}"-->
<!--               type="email"-->
<!--        />-->
<!--&lt;!&ndash;        <p th:errors="*{email}" class="text-danger"&ndash;&gt;-->
<!--&lt;!&ndash;           th:if="${#fields.hasErrors('email')}">&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="form-group mb-3">-->
<!--        <label class="form-label">Phone</label>-->
<!--        <input class="form-control"-->
<!--               id="phone"-->
<!--               name="email"-->
<!--               placeholder="Enter  phone number"-->
<!--               th:field="*{phone}"-->
<!--        />-->
<!--        &lt;!&ndash;        <p th:errors="*{email}" class="text-danger"&ndash;&gt;-->
<!--        &lt;!&ndash;           th:if="${#fields.hasErrors('email')}">&ndash;&gt;-->
<!--        &lt;!&ndash;        </p>&ndash;&gt;-->
<!--    </div> <div class="form-group mb-3">-->
<!--        <label class="form-label">Address</label>-->
<!--        <input class="form-control"-->
<!--               id="address"-->
<!--               name="email"-->
<!--               placeholder="Enter address"-->
<!--               th:field="*{address}"-->
<!--        />-->
<!--        &lt;!&ndash;        <p th:errors="*{email}" class="text-danger"&ndash;&gt;-->
<!--        &lt;!&ndash;           th:if="${#fields.hasErrors('email')}">&ndash;&gt;-->
<!--        &lt;!&ndash;        </p>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="form-group mb-3">-->
<!--        <label class="form-label">Password</label>-->
<!--        <input class="form-control"-->
<!--               id="password"-->
<!--               name="password"-->
<!--               placeholder="Enter password"-->
<!--               th:field="*{passwordHash}"-->
<!--               type="password"-->
<!--        />-->
<!--&lt;!&ndash;        <p th:errors="*{password}" class="text-danger"&ndash;&gt;-->
<!--&lt;!&ndash;           th:if="${#fields.hasErrors('password')}">&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->
<!--    </div>-->

<!--    <div class="form-group mb-3">-->
<!--        <button class="btn btn-primary" type="submit">Register</button>-->
<!--        <span>Already registered? <a href="/" th:href="@{/login}">Login-->
<!--                             here</a></span>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Site</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
          content="Mega Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords"
          content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="codedthemes" />
    <!-- Favicon icon -->

    <link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500"
          rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/css/bootstrap/css/bootstrap.min.css}" >
    <!-- waves.css -->
    <link rel="stylesheet" th:href="@{/assets/pages/waves/css/waves.min.css}"
          type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/icon/themify-icons/themify-icons.css}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/icon/icofont/css/icofont.css}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/icon/font-awesome/css/font-awesome.min.css}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
</head>

<body themebg-pattern="theme1">
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="loader-track">
        <div class="preloader-wrapper">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <h2 style="color: #000000; font-family: 'Arial', sans-serif; font-size: xx-large;">OriShop</h2>
        <h2 style="color: #000000; font-family: 'Arial', sans-serif; font-size: x-large;">Chào quý khách.</h2>
        <div class="row">
            <div class="col-sm-12">
                <form method="post" role="form" th:action="@{/auth/sign-up/save}" th:object="${user}">-->

                    <div class="text-center">
                        <img th:src="@{/images/logo.png}" width="15%" height="15%" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
								<div class="col-md-12" th:if="${errorMessage}">
									<h6 class="text-danger" th:text="'Đăng ký thất bại'"></h6>
								</div>
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Sign up Acount</h3>
                                </div>
                            </div>

                            <div class="form-group form-primary">
                                <input class="form-control"
                                       id="firstName"
                                       name="firstName"
                                       placeholder="Enter full name"
                                       th:field="*{fullName}"
                                       type="text">
                            </div>
                            <div class="form-group form-primary">
                                <input class="form-control"
                                       id="email"
                                       name="email"
                                       placeholder="Enter mail"
                                       th:field="*{email}"
                                       type="text">
                            </div>
                            <div class="form-group form-primary">
                                <input class="form-control"
                                       id="phone"
                                       name="phone"
                                       placeholder="Enter phone"
                                       th:field="*{phone}"
                                       type="text">
                            </div>
                            <div class="form-group form-primary">
                                <input class="form-control"
                                       id="address"
                                       name="address"
                                       placeholder="Enter address"
                                       th:field="*{address}"
                                       type="text">
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group form-primary">
                                        <input class="form-control"
                                               id="password"
                                               name="password"
                                               placeholder="Enter password"

                                               th:field="*{passwordHash}"
                                               type="password"
                                               required
                                         >
                                               
                                    </div>
                                </div>


                            <div class="col-sm-6">
                                <div class="form-group form-primary">
                                    <input type="password" name="rppassword"
                                           class="form-control" required="" placeholder="Confirm  password"> <span
                                        class="form-bar"></span>
                                </div>
                            </div>
                            </div>
                            <div class="row m-t-25 text-left">
                                <div class="col-md-12">
                                    <div class="checkbox-fade fade-in-primary">
                                        <div class="forgot-phone text-right f-right">
                                            <a href="/auth/login" class="text-right f-w-600"> Login Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit"
                                            class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign
                                        up now</button>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left m-b-0">Thank you.</p>
                                    <p class="text-inverse text-left">
                                        <a th:href="@{/home}"><b>Back to website</b></a>
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <img src="/assets/images/auth/Logo-small-bottom.png"
                                         alt="small-logo.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>


<script type="text/javascript" th:src="@{/assets/js/jquery/jquery.min.js}"></script>
<script type="text/javascript"
        th:src="@{/assets/js/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/popper.js/popper.min.js}"></script>
<script type="text/javascript"
        th:src="@{/assets/js/bootstrap/js/bootstrap.min.js}"></script>
<!-- waves js -->
<script th:src="@{/assets/pages/waves/js/waves.min.js}"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript"
        th:src="@{/assets/js/jquery-slimscroll/jquery.slimscroll.js}"></script>
<!-- modernizr js -->
<script type="text/javascript" th:src="@{/assets/js/SmoothScroll.js}"></script>
<script th:src="@{/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- i18next.min.js -->
<script type="text/javascript"
        src="bower_components/i18next/js/i18next.min.js"></script>
<script type="text/javascript"
        src="bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script type="text/javascript"
        src="bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript"
        src="bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script type="text/javascript" th:src="@{/assets/js/common-pages.js}"></script>
</body>
</html>