<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/layout-default.html}">

<body>

	<!--Thêm dòng này vào-->
	<section layout:fragment="content">

		<!--Viết nội dung từ đây-->
		<div class="row">
			<div class="col mt-4">
				<div class="container-fluid">
					<!-- Page Title -->
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">User</h1>
					</div>
				</div>
				<div class="container-fluid">
					<div th:if="${message != null}">
						<span th:text="${message}"></span>
					</div>

					<div style="display: flex; justify-content: space-between; padding: 20px;">
						<!-- Bên trái -->
						<div style="width: 30%;">
							<!-- Phần đầu -->
							<div>
								<h2>Avartar</h2>
								<!-- Thêm mã HTML để hiển thị ảnh đại diện -->
								<img src="path/to/avatar.jpg" alt="Avatar">
							</div>
							<!-- Phần dưới -->
							<div>
								
								<ul>
									<li><a href="#/info">Thông tin</a></li>
									<li><a href="#/orders">Đơn hàng</a></li>
								</ul>
							</div>
						</div>

						<!-- Bên phải -->
						<div style="width: 60%;">
							<form action="/web/users/saveOrUpdate" method="POST"> 
								<div th:each="item : ${user}">
								
								<div>
									<strong>Full Name:</strong> <span th:text="${item.fullName}"></span>
								</div>
								<div>
									<strong>Email:</strong> <span th:text="${item.email}"></span>
								</div>
								<div>
									<strong>Phone:</strong> <span th:text="${item.phone}"></span>
								</div>
								<div>
									<strong>Address:</strong> <span th:text="${item.address}"></span>
								</div>
							<div class="card-footer text-muted">
							  <!--<h3><a th:href="@{'/admin/users/edit/' + ${item.userId}}">Edit</a></h3>  -->
							  <a th:href="@{'/web/users/edit/' + ${item.userId}}" class="btn btn-success"><i class="fas fa-bars"></i> Edit User</a>
							</div>
							</div>
							</form>
							
							

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>

</html>